EXPERIMENT NO 1: INTRODUCTION TO PYTHON

In [ ]:
x,y,z = "apple","orange","cherry"
print(x,y,z,sep="\n")

apple
orange
cherry

In [ ]:
x,y,z,w=2,2.5,"Ansh",True
print(type(x), type(y), type(z), type(w), sep = "\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a,b=60,7
print("add =", a+b,"\n\n", "sub =", a-b, "\n\n", "multiply =", a*b, "\n\n", "divide =", a/b, "\n\n", "exp =", a**b, "\n")

add = 67

 sub = 53

 multiply = 420

 divide = 8.571428571428571

 exp = 2799360000000

In [26]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("add =", a+b,"\n\n", "sub =", a-b, "\n\n", "multiply =", a*b, "\n\n", "divide =", a/b, "\n\n", "exp =", a**b, "\n")

Enter first number: 100
Enter second number: 10
add = 110

 sub = 90

 multiply = 1000

 divide = 10.0

 exp = 100000000000000000000

AREA OF CIRCLE
where r is the radius taken by the user

In [35]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 5.5
The area of the circle with radius 5.5 is: 95.03

VALUE OF LOG 10 BASE OF 10

In [36]:
import math
result = math.log10(10)
print(f"The value of log base 10 of 10 is: {result}")

The value of log base 10 of 10 is: 1.0

VALUE OF SIN 60

In [38]:
import math
degrees = 60
radians = math.radians(degrees)
sin_value = math.sin(radians)
print(f"The sine of {degrees} degrees is: {sin_value}")

The sine of 60 degrees is: 0.8660254037844386

USING IF ELSE TO FIND GREATER NUMBER (also taking input from the user)

In [41]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a > b:
  print("a is greater than b")
else:
  print("b is greater than a")

Enter first number: 10
Enter second number: 5
a is greater than b